.spinner {
  display: inline-block;
  border: solid var(--surface-overlay);
  border-radius: 50%;
  animation: global(mq-spin) 0.7s linear infinite;
  border-top-color: var(--accent);

  &.sm {
    width: 16px;
    height: 16px;
    border-width: 2px;
  }

  &.md {
    width: 24px;
    height: 24px;
    border-width: 2.5px;
  }

  &.lg {
    width: 40px;
    height: 40px;
    border-width: 3px;
  }
}
